.data-sheet {
  margin-top: 150px;

  @media (min-width: $desktop-width) {
    margin: 0;
    padding-top: 40px;
  }
}

.data-sheet__list {
  @include list-reset;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.data-sheet__item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  box-shadow: 0 0 7px rgba($gray, 0.3);
  background-color: $white;
  border-radius: 10px;
  padding: 10px 10px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    width: 40%;
  }

  @media (min-width: $desktop-width) {
    width: 22%;
  }

  &:hover {
    @include anim-plus
  }

  &::before {
    display: block;
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    top: -12px;
    left: 26px;
    transition: all 1s 0.1s ease-in;
    z-index: 1;
  }

  &::after {
    display: block;
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 7px;
    top: -19px;
    left: 16px;
  }

  &--space::before {
    background-image: url("/img/social-group.svg");
    z-index: 1;
  }

  &--space::after {
    background-color: $blue;
  }

  &--revenue::before {
    background-image: url("/img/text-document.svg");
  }

  &--revenue::after {
    background-color: $pink;
  }

  &--fixed::before {
    background-image: url("/img/information.svg");
  }

  &--fixed::after {
    background-color: $green;
  }
}

.data-sheet__item:hover::before {
  transform: rotate(360deg);
}

.data-sheet__title {
  font-size: 14px;
  color: $blue;
  font-weight: 700;
}

.data-sheet__value {
  margin-bottom: 10px;
}

.data-sheet__desc {
  position: relative;
  align-self: flex-start;
  color: $gray-100;
  padding-left: 33px;

  &::before {
    display: block;
    position: absolute;
    content: "";
    width: 15px;
    height: 20px;
    background-repeat: no-repeat;
    bottom: -2px;
    left: 10px;
  }

  &--one::before {
    background-image: url("/img/bar-chart.svg");
  }

  &--two::before {
    background-image: url("/img/calendar.svg");
  }

  &--three::before {
    background-image: url("/img/information.svg");
  }
}
