.header-nav {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 260px;
    height: 1240px;
    top: 100px;
    left: 0;
    order: 3;
    background-color: $white;
    box-shadow: 0 0 7px rgba($gray, 0.3);
    padding: 40px 20px;
  }
}

.header-nav--opened {
  display: flex;
}

.header-nav--closed {
  display: none;
}

.header-nav__user {
  display: flex;
  flex-wrap: wrap;
}

.header-nav__user-avatar {
  width: 50px;
  height: 50px;
  float: left;
}

.header-nav__user-wrapper {
  position: relative;
  width: 75%;
  margin-bottom: 40px;

  &:hover .user-nav-list {
    display: block;
  }
}

.header-nav__user-name {
  display: block;
  width: 100%;
  padding: 0 10px;
}

.header-nav__user-details {
  width: 50%;
  padding: 0 10px;
}

.header-nav__user-details-button {
  position: relative;

  &::before {
    display: block;
    position: absolute;
    content: "";
    background-image: url("../../img/arrow-down.svg");
    width: 20px;
    height: 16px;
    background-repeat: no-repeat;
    top: 5px;
    left: 0;
  }
}

.header-nav__user-nav-list {
  display: none;
  left: 50px;
}

.header-nav__search-input {
  position: relative;
  width: 80%;
  border: 1px rgba($gray, 0.3) solid;
  border-radius: 7px;
  padding: 8px 20px;
  margin-bottom: 40px;

  &::before {
    display: block;
    position: absolute;
    content: "";
    background-image: url("/img/search.svg");
    width: 30px;
    height: 25px;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
  }
}

.header-nav__title {
  font-size: 18px;
  line-height: 17px;
  color: rgba($gray, 0.5);
  margin-bottom: 15px;
}
