.page-header {
  background-color: $black-100;
  position: fixed;
  z-index: 9999;
  width: 100%;

  @media (min-width: $desktop-width) {
    width: 300px;
  }

  @media (min-width: $desktop-width) {
    &:after {
      content: '';
      width: 300px;
      min-height: 100px;
      background: $black-100;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
    }
  }
}

.page-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $desktop-width) {
    justify-content: start;
    margin: 0;
    padding: 20px 20px;
  }
}

.page-header__wrapper-button {
  display: flex;
  align-items: center;

  @media (min-width: $desktop-width) {
    order: 2;
  }
}

.page-header__button {
  display: block;
  background-image: url("../../img/hamburger-menu.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  width: 34px;
  height: 28px;
  border: 0;
  cursor: pointer;
  margin-right: 10px;

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.page-header__search {
  display: block;
  width: 14px;
  height: 14px;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__logo {
  width: 170px;
  height: 57px;

  @media (min-width: $desktop-width) {
    order: 1;
    margin-right: 30px;
  }
}

.page-header__mobile-options {
  @media (min-width: $desktop-width) {
    display: none;
  }

  &::before {
    content: '\2026';
    color: $white;
    font-size: 20px;
  }
}

.page-header__user {
  display: none;

  @media (min-width: $desktop-width) {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    z-index: 1;
    background-color: $white;
    box-shadow: 0 0 7px rgba($gray, 0.3);
  }
}

.page-header__user-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 30px 63px 25px 320px;
}

.page-header__button-viewsize {
  display: none;
  background-image: url("../../img/fullscreen.svg");
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
}

.page-header__button-viewsize {
  @media (min-width: $desktop-width) {
    display: block;
  }
}

.page-header__user-ava-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 300px;
  margin-left: auto;


  &:hover .user-nav-list {
    display: block;
  }
}

.page-header__image-ava {
  width: 45px;
  height: 45px;
  margin-right: 10px;
}

.page-header__name {
  max-width: 200px;
  align-self: center;
  font-size: 17px;
  line-height: 14px;
  margin-right: 10px;
}

.page-header__user-nav {
  display: none;
  top: 80px;
  right: 20px;
  opacity: 0.9;
}

.page-header__user-details-button {
  position: relative;

  &::before {
    display: block;
    position: absolute;
    content: "";
    background-image: url("../../img/arrow-down.svg");
    width: 20px;
    height: 16px;
    background-repeat: no-repeat;
    top: 18px;
    left: 0;
  }
}
