.tasks {
  padding: 0 20px;
  margin-bottom: 40px;

  @media (min-width: $desktop-width) {
    display: inline-block;
    width: 45%;
    float: left;
  }

  &:hover {
    @include anim-min;
  }
}

.tasks__wrapper {
  background-color: $white;
  padding: 0 20px;
  box-shadow: 0 0 7px rgba($gray, 0.3);
}

.tasks__wrapper-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tasks__title {
  color: rgba($gray, 0.6);
  font-size: 18px;
}

.tasks__button {
  position: relative;

  &::before {
    display: block;
    position: absolute;
    content: "";
    background-image: url("/img/arrow-down.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    top: 20px;
    left: -10px;
  }
}

.tasks__wrapper-tasks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
}

.tasks__wrapper-tasks-title {
  color: rgba($gray, 0.5);
  font-size: 15px;
  font-weight: 700;
  width: 30%;

  &--twocol {
    width: 31%;
    flex-shrink: 1;
  }
}

.tasks__list {
  @include list-reset;
  padding: 0 20px;
  padding-bottom: 20px;
}

.tasks__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0;
  border-top: 1px rgba($gray, 0.2) solid;
}

.tasks__item-title {
  position: relative;
  padding-left: 60px;
  width: 200px;


  &::before {
    display: block;
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    top: -7px;
    left: 10px;
    border-radius: 50%;
  }

  &::after {
    display: block;
    position: absolute;
    width: 35px;
    height: 35px;
    color: $white;
    font-size: 18px;
    top: -5px;
    left: 23px;
    border-radius: 50%;
  }

  &--ui::before {
    background-color: $blue;
  }

  &--ui::after {
    content: "U";
    left: 21px;
    top: -4px;
  }

  &--app::before {
    background-color: $pink;
  }

  &--app::after {
    content: "D";
    left: 21px;
  }

  &--logo::before {
    background-color: $green;
  }

  &--logo::after {
    content: "L";
  }
}

.tasks__progressbar-wrapper {
  display: flex;
  flex-grow: 1;
}

.tasks__value {
  margin-right: 20px;
  margin-left: auto;
}

.tasks__progressbar {
  align-self: center;
  flex-basis: 37%;

  &--ui {
    width: 65%;
    background-color: $blue;
  }

  &--app {
    width: 33%;
    background-color: $pink;
  }

  &--logo {
    width: 75%;
    background-color: $green;
  }
}
