// Viewports

$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1150px;

// Colors

$white: #ffffff;
$smoke-white: #f3f3f3;
$gray: #444444;
$gray-100: #919aa3;
$black: #000000;
$black-100: #303549;
$blue: #4680ff;
$blue-100: #4c70bd;
$blue-200: #74d1fc;
$pink: #f178a7;
$green: green;

